<div class="card mt-4">
    <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
    <div class="card-body">
        <h3 class="card-title">{{product?.name}}</h3>
        <h4>Price: {{product?.price | currency}}</h4>
        <p class="card-text">{{product?.description}}</p>
    </div>


    <div class="card-body" [hidden]="submitted">
        <form (ngSubmit)="onSubmit()" #orderForm="ngForm">
            <div class="form-group row w-50 align-middle">
                <div class="col-xs-3 p-2">
                    <label for="productCount">Count</label>
                </div>
                <div class="col-xs-1 p-2">
                    <input type="number" class="form-control" id="productCount" min="1" required
                        [(ngModel)]="model.productCount" name="productCount" #productCount="ngModel">
                    <div [hidden]="productCount?.valid || productCount?.pristine" class="alert alert-danger">
                        Count is required
                    </div>
                </div>
            </div>
            <div class="form-group row w-50 align-middle">
                <div class="col-xs-3 p-2">
                    <label for="totalPrice">Total price</label>
                </div>
                <div class="col-xs-1 p-2">
                    <input type="number" class="form-control" id="totalPrice" required
                        [value]="model?.productCount * product?.price" [(ngModel)]="model.totalPrice" name="totalPrice"
                        #totalPrice="ngModel" disabled>
                </div>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!orderForm.form.valid">Order</button>
        </form>
    </div>
</div>
<div [hidden]="!submitted" class="card mt-4">
    <div  class="card-body">
        <h2>You have ordered:</h2>
        <div class="row">
            <div class="col-xs-3">Order Id: </div>
            <div class="col-xs-9">{{ model.id }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Name: </div>
            <div class="col-xs-9">{{ product?.name }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Count: </div>
            <div class="col-xs-9">{{ model.productCount }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Total price: </div>
            <div class="col-xs-9">{{ model.totalPrice }}</div>
        </div>
        <br>
    </div>
</div>