################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Domain/bin/Debug/netcoreapp2.2
/Domain/obj
/Eshop.API/bin/Debug/netcoreapp2.2
/Eshop.API/obj
/Eshop.Entity/bin/Debug/netcoreapp2.2
/Eshop.Entity/obj
/WebAPI/.vs
/WebAPI/Domain/bin/Debug/netcoreapp2.2
/WebAPI/Domain/obj
/WebAPI/Eshop.API/bin/Debug/netcoreapp2.2
/WebAPI/Eshop.API/obj
/WebAPI/Eshop.API/eshop.db
/WebAPI/Eshop.Entity/bin/Debug/netcoreapp2.2
/WebAPI/Eshop.Entity/obj/Debug/netcoreapp2.2
Angular/.editorconfig
/Angular/.vscode/launch.json
/WebAPI/Domain/bin/Release/netcoreapp2.2
/WebAPI/Eshop.API/bin/Release/netcoreapp2.2
/WebAPI/Eshop.Entity/bin/Release/netcoreapp2.2
/WebAPI/Eshop.Entity/obj/Release/netcoreapp2.2
